성능 프로파일러를 통해 결과를 보니 factorial_iter은 1번 함수가 호출되었고 factorial_rec은 20번 호출되었다.
또한 경과된 포괄 시간 비율에서  factorial_iter는 0.01%를 차지하였고 factorial_rec는 0.11%를 차지하는 결과를 얻게되었다
결과를 보기 전까지는 반복이 순환보다 수행시간이 더 걸리고 차지하는 공간도 더 많을 것이라 생각했지만 
결과를 보니 순환은 함수를 20번이나 호출하니 1번 호출하는 반복보다 수행시간도 더 걸리고 함수를 더 호출하다 보니 
반복을 사용할 때보다 기억공간을 차지하여 이런 결과를 얻은 것 같다..
